[submodule "abinitdm-portlet"]
        path = abinitdm-portlet
        url = https://github.com/csgf/abinitdm-portlet.git
[submodule "knowledge-base-portlet"]
	path = knowledge-base-portlet
	url = https://github.com/csgf/knowledge-base-portlet.git
[submodule "glibrary"]
	path = glibrary
	url = https://github.com/csgf/glibrary.git
